<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cart</title>
</head>

<body>
	<h1>Your Cart</h1>
	<div >
		<div class="box"  th:each="book : ${cart}">
			<span class="boxes"><img th:src="@{${book.photoUrl}}" alt="Book Cover" style="height: 30vh; width: 14vw;"></span>
			<span class="boxx" style="display: grid; margin: 2rem 4rem;">
				<li class="boxes" th:text="${book.title}">Title</li>
			<li class="boxes" th:text="${book.author}">Author</li>
			<li class="boxes" th:text="${book.price}">Price</li>
			</span>
		</div>
	</div>
	
</body>

</html>